body{
	font-size: 12px;
}

/*navbar*/

.collapse{
	background-color: #ffe500;
}

.navbar {
	background-color: #224685;
	display: flex;
	justify-content: start;

}

.navbar p{
	font-size: 1.8em;
	font-weight: bold;
	color: white;
	margin:5px 10px;
}

/*SEARCH*/

.search p{
	font-size: 2em;
}